<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:replace="~{::title}">Biblioteca</title>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
        <div th:replace="fragments :: navbar"></div>
        <div th:replace="fragments :: header(${pageTitle})"></div>
        <main class="container main-content">
            <div th:replace="~{::section}"></div>
        </main>
        <div th:replace="fragments :: footer"></div>
        <script>
          function confirmDelete(id){ if(confirm('¿Eliminar?')) document.getElementById(id).submit(); }
        </script>
    </body></html>